@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  /* 页面内容区背景颜色 */
  --color-main-content: var(--main-content);
  /* 页面内容区标题颜色 */
  --color-main-title: var(--main-title);
  /* 页面内容区副标题颜色 */
  --color-main-text: var(--main-text);
  /* 页面内容正文颜色 */
  --color-main-label: var(--main-label);
  /* 主页介绍部分背景颜色 */
  --color-home-hero-section: var(--home-hero-section);
  /* 精选图片背景渐变色 */
  --color-featured-img-from: var(--featured-img-from);
  --color-featured-img-to: var(--featured-img-to);
  /* 鼠标浮动时背景色 */
  --color-hover-background: var(--hover-background);
  /* 选中时背景色 */
  --color-active-background: var(--active-background);
  /* 选中时字体色 */
  --color-active-text: var(--active-text);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: #1e293b;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  /* 页面内容区背景颜色 #f9fafb */
  --main-content: #f9fafb;
  /* 页面内容区标题颜色 #0a0a0a */
  --main-title: #1e293b;
  /* 页面内容区正文颜色 #4a5568 */
  --main-text: #4a5568;
  /* 页面内容标签颜色 #718096 */
  --main-label: #718096;
  /* 主页介绍部分背景颜色 #fefefe */
  --home-hero-section: #fefefe;
  /* 精选图片背景渐变色 */
  --featured-img-from: #f1f5f9;
  --featured-img-to: #e2e8f0;
  /* 鼠标浮动时背景色 */
  --hover-background: #f5f5f5;
  /* 选中时背景色 */
  --active-background: #262626;
  /* 选中时字体色 */
  --active-text: #f7fafc;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: #f7fafc;
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  /* 页面内容区背景颜色 #1a1d21 */
  --main-content: #1a1d21;
  /* 页面内容区标题颜色  #f7fafc */
  --main-title: #f7fafc;
  /* 页面内容区正文颜色 #e2e8f0  */
  --main-text: #e2e8f0;
  /* 页面内容标签颜色 #cbd5e0 */
  --main-label: #cbd5e0;
  /* 主页介绍部分背景颜色 #15181c */
  --home-hero-section: #15181c;
  /* 精选图片背景渐变色 */
  --featured-img-from: #1a1d21;
  --featured-img-to: #0f1419;
  /* 鼠标浮动时背景色 */
  --hover-background: #262626;
  /* 选中时背景色 */
  --active-background: #f5f5f5;
  /* 选中时字体色 */
  --active-text: #1e293b;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
